<div id="header">
  <%= link_to logo, '/' %>
  <ul class="navigation round">
    <li><%= link_to "Home", '/' %></li>
    <li><%= link_to "Help", '/help' %></li>
    <li><%= link_to "Sign in", '#' %></li>
  </ul>
</div>
